absl-py==2.1.0
accelerate==0.33.0
addict==2.4.0
aiofiles==23.2.1
aiohttp==3.9.3
aiosignal==1.3.1
albumentations==1.4.2
altair==5.2.0
annotated-types==0.6.0
ansicon==1.89.0
anthropic==0.31.0
antlr4-python3-runtime==4.9.3
anyio==4.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
av==11.0.0
Babel==2.14.0
basicsr==1.4.2
beautifulsoup4==4.12.3
bibtexparser==2.0.0b7
bitarray==2.9.2
bleach==6.1.0
blessed==1.20.0
boto3==1.34.144
botocore==1.34.144
Brotli==1.1.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
clldutils==3.22.2
cm-time==0.1.2
cmake==3.28.4
cn2an==0.5.22
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.8.2
comm==0.2.2
contourpy==1.2.0
courlan==1.2.0
csvw==3.3.0
cycler==0.12.1
Cython==3.0.9
dataclasses-json==0.6.4
dateparser==1.2.0
debugpy==1.8.5
decorator==4.4.2
deemix==3.6.6
deezer-py==1.3.7
defusedxml==0.7.1
Deprecated==1.2.14
diffusers==0.30.3
distlib==0.3.8
distro==1.9.0
dlinfo==1.2.1
docopt==0.6.2
docstring_parser==0.16
easydict==1.13
edge-tts==6.1.10
editor==1.6.6
einops==0.7.0
encodec==0.1.1
eng_to_ipa==0.0.2
exceptiongroup==1.2.0
executing==2.0.1
fairseq==0.12.2
fastapi==0.110.0
fastjsonschema==2.20.0
ffmpeg-python==0.2.0
ffmpy==0.3.2
filelock==3.13.1
filetype==1.2.0
filterpy==1.4.5
flatbuffers==24.3.7
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.3.1
ftfy==6.2.0
functorch==2.0.0
funcy==2.0
future==1.0.0
fvcore==0.1.5.post20221221
gdown==5.1.0
gitdb==4.0.11
gradio==4.44.1
greenlet==3.0.3
groq==0.9.0
grpcio==1.64.1
grpcio-status==1.62.2
h11==0.14.0
huggingface-hub==0.22.0
hydra-core==1.3.2
idna==3.6
imageio==2.34.0
imageio-ffmpeg==0.4.7
imgviz==1.7.5
importlib_metadata==7.0.2
importlib_resources==6.4.0
inflect==7.2.0
inquirer==3.2.4
iopath==0.1.10
ipykernel==6.29.5
ipython==8.27.0
isodate==0.6.1
isoduration==20.11.0
jaxtyping==0.2.28
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.3
jinxed==1.2.1
jiter==0.5.0
jmespath==1.0.1
joblib==1.3.2
Js2Py==0.74
json5==0.9.24
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jusText==3.0.1
lazy_loader==0.3
lib==4.0.0
linkify-it-py==2.0.3
llvmlite==0.39.0
lmdb==1.4.1
lpips==0.1.4
lxml==5.2.2
lxml_html_clean==0.1.1
Markdown==3.5.2
markdown-it-py==2.2.0
MarkupSafe==2.1.5
matplotlib==3.6.3
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
minify_html==0.15.0
mistune==3.0.2
mmcv==1.7.1
more-itertools==10.2.0
moviepy==1.0.3
mpmath==1.3.0
msvc-runtime==14.34.31931
multidict==6.0.5
mutagen==1.47.0
mypy-extensions==1.0.0
natsort==8.4.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nerfacc==0.5.3
nest-asyncio==1.6.0
ninja==1.11.1.1
nltk==3.8.1
numba==0.56.4
numpy==1.23.5
omegaconf==2.3.0
onnx==1.14.0
onnxoptimizer==0.3.13
onnxruntime==1.15.0
onnxruntime-gpu==1.17.1
onnxsim==0.4.36
opencv-python==4.7.0.72
opencv-python-headless==4.9.0.80
orjson==3.9.15
overrides==7.7.0
packaging==23.2
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
peft==0.12.0
phonemizer==3.2.1
piexif==1.1.3
pillow==10.2.0
pipwin==0.5.2
platformdirs==4.2.0
playwright==1.43.0
plyfile==1.0.3
pooch==1.8.1
portalocker==2.8.2
praat-parselmouth==0.4.3
prettytable==3.10.0
proces==0.1.7
proglog==0.1.10
progressbar==2.5
proto-plus==1.24.0
protobuf==4.25.3
psutil==5.9.8
py-cpuinfo==9.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodomex==3.20.0
pycurl==7.45.3
pydantic==2.6.4
pydantic_core==2.16.3
pySmartDL==1.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.9
pytorch-lightning==2.2.1
pytz==2024.1
PyWavelets==1.5.0
pywin32==306
pywinpty==2.0.13
pyworld==0.3.4
PyYAML==6.0.1
pyzmq==26.2.0
qrcode==7.4.2
QtPy==2.4.1
rdflib==7.0.0
readchar==4.0.6
referencing==0.34.0
regex==2023.12.25
rembg==2.0.56
requests==2.31.0
resampy==0.4.3
rpds-py==0.18.0
rsa==4.9
ruff==0.3.2
runs==1.2.2
safetensors==0.4.2
SAM-2 @ git+https://github.com/facebookresearch/segment-anything-2.git@778e1127404547429b281d9c9394ddb3652b85a5
scikit-image==0.22.0
scikit-learn==1.4.1.post1
scipy==1.12.0
spaces==0.28.3
termcolor==2.4.0
terminado==0.18.1
threadpoolctl==3.3.0
tiktoken==0.6.0
timm==0.6.7
tld==0.13
tokenizers==0.15.2
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.1
torch==2.4.0+cu121
torchvision==0.19.0
tqdm==4.66.2
transformers==4.39.1
typing-inspect==0.9.0
typing_extensions==4.10.0
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.1
uvicorn==0.29.0
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.0.1
wget==3.2
wrapt==1.16.0
xatlas==0.0.9
zipp==3.17.0
